html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}
::-webkit-scrollbar-corner {
    background: #202020;
}
::-webkit-scrollbar-thumb:hover {
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: #6d737d;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #434953;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fullScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.darkness {
  filter: brightness(50%);
}

.donate {
    padding-top: 6%!important;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 0.5rem 2.5rem!important;
  font-size: 1.5rem!important;
}

.progress {
    height: 8px!important;
    border-radius: 0!important;
}
#stats1>p {
    font-weight: bold;
}
#stats1>p>span {
    color: #00d000;
}
.link-img {
    transition: all 250ms ease-out;
}
.link-img:hover {
    filter: brightness(75%);
}
.pix {
    transition: all 300ms ease-out;
}
.pix:hover {
    transform: scale(1.1)
}
@media (min-width: 768px) {
    .disc {
        min-height: 12em;
    }
    .carousel-caption2>.container>#stats1>.progress {
        width: 280px;
    }
    .carousel-caption2 {
        bottom: 30vh!important;
    }
}
@media (min-width: 1200px) {
  #donate {
    min-height: 100vh;
  }
}
@media (max-width: 768px) {
  nav {
    background-color: #343a40;
  }
  .carousel-caption2>.container>h1 {
      font-size: 2rem;
  }
    .carousel-caption2 {
        bottom: 5vh!important;
    }
    .carousel-caption2>.container>h2 {
        font-size: 1.5rem;
    }
    .carousel-caption2>.container>h3 {
        font-size: 1rem;
    }
    .carousel-caption2>.container>#stats1>.progress {
        width: 60vw!important;
    }
    .carousel-caption2>.container {
        padding: 0!important;
    }
}
